# Homework 4

In this HW, we will study the pay gap between men and women who have jobs in San Francisco.  We will use the following two csv files to accomplish this task.

- Salaries.csv : contains salaries for over 100K employees in SF from 2011 to 2014.
- Names.csv :  contains baby names from 1980 to 2014 along with counts of how many times the given baby name was used.

We would like to find the average salary of men and women over all jobs from 2011 to 2014.  The problem, however, is that the Salaries.csv does not contain gender.  Futher, there are many names that are unisex.  Since we have counts in the file Names.csv, we use a majority vote to label the gender of each name in Names.csv. 

You will be asked to write a series of functions to implement this task. 

**Note: Unlike previous homeworks, the problems in this homework are inter-dependent in the sense that you can only pass the test for problem n if you have passed the test cases in problem n-1, since normally problem n requires to call the function in problem n-1.**


## Problem 1 Read the data

The following functions **ReadData** will read in the salary and the names data as pandas dataframes and return a list which contains these two dataframes.

In [1]:
#Place your import here
import pandas as pd
import numpy as np

def ReadData():
    df_salaries = None
    df_names = None
    
    # YOUR CODE HERE
    df_salaries=pd.read_csv("data/Salaries.csv",header=0)
    df_names=pd.read_csv("data/Names.csv",header=0)
    
    return [df_salaries, df_names]
ReadData()[0]

,Unnamed: 0,Id,EmployeeName,JobTitle,Total_Pay,Year
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,2011
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,2011
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,2011
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,2011
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,2011
...,...,...,...,...,...,...
27381,27381,27382,XU HE CHEN,LIBRARY ASSISTANT,35038.43,2011
27382,27382,27383,RAYMOND GREEN,MANAGER VIII - MUNICIPAL TRANSPORTATION AGENCY,35038.24,2011
27383,27383,27384,MICHAEL WARD,SUPERVISING PURCHASER,35032.80,2011
27384,27384,27385,ERNA FACULTAD,SPECIAL NURSE,35028.39,2011
27385,27385,27386,SHERMAN DABBS,TRANSIT OPERATOR,35008.51,2011

In [2]:
[df_salaries, df_names] = ReadData()
assert df_salaries.shape == (27386, 6)

## Problem 2 Get name counts

The following functions **ParseNames** will take the name dataframe as an input. It will then output two dictionaries called male_name and female_name. The key in each of these dictionaries will be the names (in all lowercase) and the value will be the sum of counts for the given name when it applied to the given gender. Note that the same name may appear in both the male and female gender.

For this function, USE ONLY ITERROWS(), NO GROUPING OR FILTERING YET!

In [3]:
def ParseNames(df_names):
    """
    
    INPUT: the pandas dataframe contains names.csv
    
    OUTPUT: two dictionaries: male_names, female_name.
    The key in each of these dictionaries will be names 
    (in all lowercase)and the value will be the sum of the 
    counts for the given name when it applies to the given gender.
    
    USE ONLY ITERROWS(), NO GROUPING OR FILTERING YET! 
    This above function will take a minute or two to run. 
    """

    #Initialize empty dictionaries for names
    male_names = {}
    female_names = {}
    
    # YOUR CODE HERE
    for index, row in df_names.iterrows():
        gender= row["Gender"]
        name = row["Name"].lower()
        count = row["Count"]
    
        if gender == 'M':
            try:
                male_names[name]+=count
            except KeyError:
                male_names[name]=count
        elif gender == 'F':
            try:
                female_names[name]+=count
            except KeyError:
                female_names[name]=count
        
    
    return male_names, female_names
ParseNames(df_names)

({'gary': 3084,
  'michael': 65274,
  'christopher': 52323,
  'matthew': 44794,
  'joshua': 43214,
  'daniel': 33809,
  'david': 33741,
  'andrew': 33653,
  'james': 32344,
  'justin': 30637,
  'joseph': 30122,
  'ryan': 29239,
  'john': 29067,
  'robert': 28864,
  'nicholas': 27900,
  'anthony': 25073,
  'william': 24884,
  'jonathan': 24064,
  'kyle': 22697,
  'brandon': 22153,
  'jacob': 22005,
  'tyler': 20629,
  'zachary': 20424,
  'kevin': 20401,
  'eric': 19411,
  'steven': 18749,
  'thomas': 18214,
  'brian': 16918,
  'alexander': 16181,
  'jordan': 16128,
  'timothy': 15685,
  'cody': 15392,
  'adam': 14708,
  'benjamin': 14619,
  'aaron': 14549,
  'richard': 13575,
  'patrick': 12372,
  'sean': 12014,
  'charles': 11990,
  'stephen': 11939,
  'jeremy': 11685,
  'jose': 11508,
  'travis': 11453,
  'jeffrey': 10979,
  'nathan': 10934,
  'samuel': 10882,
  'mark': 10681,
  'jason': 10676,
  'jesse': 8980,
  'paul': 8578,
  'dustin': 8453,
  'gregory': 8377,
  'kenneth': 8259,
  'scott': 8082,
  'derek': 8074,
  'austin': 7909,
  'corey': 7690,
  'bryan': 7435,
  'ethan': 6987,
  'alex': 6941,
  'christian': 6775,
  'juan': 6735,
  'cameron': 6663,
  'jared': 6639,
  'taylor': 6574,
  'bradley': 6430,
  'luis': 5788,
  'cory': 5763,
  'edward': 5741,
  'shawn': 5719,
  'ian': 5460,
  'evan': 5307,
  'marcus': 5297,
  'shane': 5271,
  'peter': 5215,
  'carlos': 5207,
  'trevor': 5140,
  'antonio': 4864,
  'vincent': 4798,
  'george': 4564,
  'keith': 4481,
  'phillip': 4453,
  'victor': 4440,
  'dylan': 4412,
  'brett': 4392,
  'chad': 4349,
  'nathaniel': 4341,
  'donald': 4177,
  'caleb': 4153,
  'casey': 4130,
  'jesus': 4127,
  'blake': 4101,
  'raymond': 4061,
  'mitchell': 4019,
  'adrian': 3999,
  'joel': 3998,
  'erik': 3950,
  'ronald': 3900,
  'devin': 3862,
  'garrett': 3755,
  'gabriel': 3694,
  'miguel': 3693,
  'seth': 3560,
  'douglas': 3544,
  'logan': 3431,
  'spencer': 3418,
  'derrick': 3363,
  'wesley': 3314,
  'johnathan': 3246,
  'frank': 3186,
  'chase': 3158,
  'philip': 3140,
  'lucas': 3084,
  'martin': 3080,
  'francisco': 2929,
  'jorge': 2912,
  'craig': 2905,
  'luke': 2878,
  'mario': 2821,
  'ricardo': 2800,
  'curtis': 2798,
  'colin': 2781,
  'julian': 2697,
  'jonathon': 2667,
  'alan': 2639,
  'alejandro': 2636,
  'brent': 2608,
  'troy': 2503,
  'johnny': 2480,
  'randy': 2473,
  'isaac': 2427,
  'angel': 2404,
  'manuel': 2391,
  'oscar': 2326,
  'jeffery': 2320,
  'andre': 2296,
  'henry': 2253,
  'colton': 2232,
  'jake': 2221,
  'allen': 2218,
  'russell': 2213,
  'edgar': 2203,
  'larry': 2193,
  'carl': 2189,
  'jerry': 2183,
  'tony': 2181,
  'mathew': 2175,
  'eduardo': 2159,
  'roberto': 2093,
  'devon': 2057,
  'darius': 2032,
  'clayton': 2029,
  'jeremiah': 2006,
  'brendan': 1997,
  'hector': 1986,
  'javier': 1977,
  'todd': 1975,
  'omar': 1972,
  'drew': 1953,
  'sergio': 1934,
  'danny': 1916,
  'marc': 1900,
  'terry': 1891,
  'kristopher': 1858,
  'jack': 1831,
  'albert': 1826,
  'louis': 1818,
  'bryce': 1816,
  'edwin': 1814,
  'max': 1791,
  'jimmy': 1786,
  'calvin': 1782,
  'lawrence': 1779,
  'micheal': 1771,
  'ricky': 1759,
  'ivan': 1748,
  'ruben': 1743,
  'fernando': 1729,
  'levi': 1716,
  'rodney': 1710,
  'lance': 1696,
  'grant': 1691,
  'dillon': 1682,
  'bobby': 1678,
  'xavier': 1647,
  'nicolas': 1640,
  'maxwell': 1626,
  'dominic': 1624,
  'ross': 1618,
  'walter': 1613,
  'randall': 1602,
  'dalton': 1572,
  'julio': 1553,
  'dakota': 1549,
  'pedro': 1541,
  'arthur': 1540,
  'preston': 1528,
  'cesar': 1505,
  'darren': 1505,
  'rafael': 1502,
  'clinton': 1499,
  'andres': 1497,
  'bryant': 1492,
  'maurice': 1489,
  'isaiah': 1487,
  'dominique': 1485,
  'mason': 1476,
  'joe': 1459,
  'raul': 1459,
  'roger': 1456,
  'gerald': 1451,
  'lee': 1448,
  'billy': 1438,
  'jaime': 1436,
  'jon': 1422,
  'jay': 1397,
  'emmanuel': 1396,
  'hunter': 1388,
  'tanner': 1387,
  'willie': 1377,
  'connor': 1376,
  'erick': 1368,
  'alberto': 1353,
  'shaun': 1353,
  'marco': 1338,
  'jamie': 1318,
  'noah': 1305,
  'armando': 1288,
  'reginald': 1282,
  'jessie': 1255,
  'eddie': 1248,
  'theodore': 1231,
  'zachery': 1228,
  'terrance': 1225,
  'roy': 1223,
  'marvin': 1216,
  'micah': 1177,
  'collin': 1169,
  'bruce': 1168,
  'malcolm': 1158,
  'wayne': 1149,
  'elijah': 1136,
  'abraham': 1131,
  'darrell': 1129,
  'colby': 1128,
  'jamal': 1111,
  'geoffrey': 1097,
  'cole': 1096,
  'johnathon': 1089,
  'ramon': 1089,
  'frederick': 1077,
  'trent': 1072,
  'gerardo': 1063,
  'terrence': 1055,
  'darryl': 1054,
  'brock': 1040,
  'marquis': 1037,
  'arturo': 1036,
  'tyrone': 1029,
  'neil': 1028,
  'ronnie': 1023,
  'enrique': 1021,
  'jerome': 1018,
  'byron': 1014,
  'trenton': 1010,
  'steve': 1004,
  'nickolas': 998,
  'miles': 992,
  'tommy': 981,
  'alec': 978,
  'alfredo': 971,
  'marcos': 961,
  'kurt': 957,
  'andy': 956,
  'deandre': 944,
  'melvin': 939,
  'morgan': 936,
  'nelson': 931,
  'harrison': 928,
  'marshall': 927,
  'terrell': 924,
  'ernest': 920,
  'francis': 916,
  'dale': 907,
  'dean': 893,
  'desmond': 870,
  'kelvin': 868,
  'demetrius': 867,
  'salvador': 867,
  'kendall': 866,
  'josue': 863,
  'leonard': 863,
  'gavin': 860,
  'karl': 856,
  'glenn': 853,
  'quinton': 852,
  'donovan': 850,
  'franklin': 850,
  'branden': 849,
  'skyler': 847,
  'nolan': 845,
  'rene': 838,
  'kaleb': 835,
  'kody': 833,
  'jermaine': 829,
  'dwayne': 827,
  'diego': 826,
  'lorenzo': 826,
  'ernesto': 821,
  'riley': 812,
  'eugene': 810,
  'stanley': 808,
  'orlando': 801,
  'brady': 797,
  'chance': 794,
  'israel': 792,
  'jarrod': 792,
  'sebastian': 792,
  'jackson': 791,
  'damon': 787,
  'damian': 781,
  'wade': 778,
  'harold': 771,
  'fabian': 766,
  'landon': 760,
  'zachariah': 757,
  'giovanni': 755,
  'ray': 755,
  'tristan': 751,
  'alvin': 749,
  'damien': 746,
  'zackary': 743,
  'dane': 739,
  'angelo': 738,
  'alexis': 736,
  'beau': 731,
  'quentin': 729,
  'kendrick': 728,
  'warren': 728,
  'gilbert': 725,
  'parker': 723,
  'gustavo': 722,
  'stuart': 706,
  'trey': 704,
  'clifford': 699,
  'kirk': 697,
  'barry': 694,
  'jordon': 693,
  'lamar': 689,
  'kelly': 686,
  'joey': 684,
  'darnell': 678,
  'pablo': 678,
  'josiah': 677,
  'rashad': 676,
  'courtney': 675,
  'elliott': 672,
  'eli': 667,
  'gage': 666,
  'elias': 665,
  'antoine': 651,
  'brad': 649,
  'alfred': 642,
  'dante': 639,
  'stefan': 638,
  'ashton': 637,
  'felix': 635,
  'elliot': 631,
  'emanuel': 628,
  'harry': 626,
  'oliver': 625,
  'roman': 623,
  'simon': 620,
  'clarence': 618,
  'clint': 617,
  'dexter': 612,
  'cedric': 611,
  'hayden': 610,
  'jarrett': 609,
  'tevin': 607,
  'brennan': 606,
  'allan': 605,
  'abel': 603,
  'ralph': 602,
  'rudy': 602,
  'kory': 598,
  'roderick': 598,
  'infant': 596,
  'leon': 594,
  'keenan': 592,
  'dallas': 591,
  'dominick': 588,
  'noel': 588,
  'guillermo': 586,
  'sam': 584,
  'graham': 582,
  'lewis': 579,
  'weston': 578,
  'blaine': 577,
  'rodolfo': 575,
  'julius': 574,
  'howard': 573,
  'akeem': 570,
  'earl': 570,
  'tyson': 570,
  'wyatt': 570,
  'stephan': 569,
  'saul': 567,
  'kurtis': 566,
  'jarred': 564,
  'derick': 561,
  'ismael': 557,
  'esteban': 556,
  'leonardo': 555,
  'hugo': 551,
  'cristian': 550,
  'bret': 546,
  'jamar': 543,
  'zackery': 543,
  'forrest': 542,
  'alfonso': 537,
  'charlie': 537,
  'donte': 536,
  'carlton': 529,
  'corbin': 528,
  'felipe': 523,
  'myles': 521,
  'shannon': 520,
  'bernard': 516,
  'gilberto': 515,
  'kenny': 514,
  'isiah': 510,
  'zane': 510,
  'jarvis': 509,
  'ty': 508,
  'emilio': 507,
  'korey': 507,
  'rogelio': 505,
  'leroy': 502,
  'sheldon': 501,
  'daryl': 500,
  'demarcus': 498,
  'denzel': 496,
  'clay': 494,
  'dwight': 493,
  'coty': 491,
  'chris': 487,
  'brendon': 485,
  'chaz': 485,
  'tyrell': 485,
  'terence': 482,
  'owen': 479,
  'deangelo': 478,
  'perry': 473,
  'carson': 471,
  'marlon': 469,
  'conor': 466,
  'kasey': 466,
  'neal': 463,
  'heath': 456,
  'kameron': 455,
  'sterling': 451,
  'glen': 450,
  'raphael': 449,
  'skylar': 448,
  'moises': 447,
  'fredrick': 446,
  'brenton': 444,
  'norman': 443,
  'gordon': 441,
  'clifton': 440,
  'ali': 439,
  'nikolas': 438,
  'tucker': 434,
  'alonzo': 429,
  'leo': 429,
  'ramiro': 426,
  'davon': 423,
  'wilson': 416,
  'deshawn': 409,
  'ariel': 405,
  'kerry': 402,
  'shayne': 399,
  'braden': 396,
  'chandler': 396,
  'cornelius': 396,
  'kent': 394,
  'vernon': 394,
  'tomas': 392,
  'lloyd': 391,
  'avery': 387,
  'devan': 387,
  'frankie': 387,
  'pierre': 387,
  'jaron': 385,
  'rolando': 385,
  'fred': 384,
  'jayson': 384,
  'keegan': 384,
  'markus': 384,
  'quincy': 383,
  'rickey': 382,
  'quintin': 381,
  'garret': 380,
  'roland': 380,
  'mike': 379,
  'lonnie': 377,
  'rick': 377,
  'darrin': 376,
  'rodrigo': 376,
  'rory': 373,
  'humberto': 371,
  'sidney': 367,
  'ben': 366,
  'tracy': 364,
  'quinn': 363,
  'brenden': 362,
  'jamel': 359,
  'dorian': 357,
  'duane': 357,
  'jean': 356,
  'mackenzie': 355,
  'nathanael': 355,
  'shelby': 355,
  'dion': 351,
  'gerard': 350,
  'lukas': 349,
  'brice': 348,
  'herbert': 348,
  'dana': 347,
  'darin': 347,
  'cortez': 346,
  'antwan': 345,
  'javon': 343,
  'kadeem': 342,
  'clark': 341,
  'efrain': 341,
  'noe': 341,
  'reynaldo': 341,
  'drake': 340,
  'freddy': 340,
  'kristofer': 340,
  'reid': 339,
  'donnie': 338,
  'tylor': 337,
  'adan': 335,
  'mauricio': 335,
  'deon': 334,
  'bryson': 333,
  'jace': 333,
  'marquise': 333,
  'carter': 332,
  'don': 332,
  'everett': 332,
  'jimmie': 332,
  'johnnie': 328,
  'lane': 328,
  'malik': 328,
  'ahmad': 327,
  'arnold': 327,
  'marcel': 327,
  'milton': 324,
  'santiago': 324,
  'tyree': 324,
  'guy': 323,
  'salvatore': 322,
  'jerrod': 318,
  'darrius': 317,
  'kristian': 315,
  'nigel': 314,
  'lamont': 313,
  'kareem': 312,
  'mitchel': 312,
  'freddie': 310,
  'alvaro': 309,
  'toby': 309,
  'jakob': 306,
  'thaddeus': 305,
  'blair': 304,
  'bradford': 304,
  'reuben': 304,
  'kwame': 299,
  'leslie': 295,
  'rico': 294,
  'sammy': 293,
  'vicente': 293,
  'harley': 292,
  'moses': 292,
  'will': 289,
  'stephon': 285,
  'keaton': 283,
  'chadwick': 282,
  'stewart': 282,
  'winston': 282,
  'ignacio': 281,
  'robin': 281,
  'davis': 280,
  'joaquin': 280,
  'aron': 278,
  'anton': 277,
  'bo': 277,
  'griffin': 277,
  'mohammad': 277,
  'issac': 275,
  'liam': 275,
  'rusty': 273,
  'amir': 272,
  'hakeem': 272,
  'leland': 272,
  'baby': 271,
  'guadalupe': 271,
  'irvin': 270,
  'german': 269,
  'jasper': 269,
  'deonte': 268,
  'gene': 267,
  'leonel': 267,
  'colten': 266,
  'conrad': 266,
  'nico': 266,
  'jovan': 265,
  'kyler': 264,
  'nestor': 264,
  'ezekiel': 263,
  'ryne': 263,
  'agustin': 262,
  'conner': 262,
  'jackie': 262,
  'loren': 261,
  'lester': 260,
  'darian': 259,
  'lyle': 257,
  'jarod': 256,
  'bradly': 254,
  'herman': 252,
  'floyd': 251,
  'garrick': 251,
  'osvaldo': 251,
  'rigoberto': 251,
  'clyde': 250,
  'ted': 250,
  'dusty': 249,
  'jeff': 249,
  'addison': 247,
  'vance': 246,
  'dewayne': 245,
  'adolfo': 244,
  'khiry': 244,
  'nathanial': 242,
  'sonny': 240,
  'ashley': 239,
  'donnell': 239,
  'jonah': 239,
  'erin': 238,
  'reed': 238,
  'rocky': 235,
  'kellen': 234,
  'paris': 234,
  'dan': 233,
  'jameson': 233,
  'jamison': 232,
  'rex': 232,
  'cecil': 231,
  'lionel': 231,
  'tory': 231,
  'demario': 230,
  'nick': 229,
  'antwon': 228,
  'grayson': 228,
  'jamaal': 228,
  'randolph': 227,
  'arron': 226,
  'chester': 226,
  'bennett': 225,
  'damion': 225,
  'jairo': 223,
  'mohammed': 223,
  'myron': 222,
  'wendell': 222,
  'brooks': 221,
  'heriberto': 221,
  'shea': 221,
  'irving': 220,
  'spenser': 219,
  'bronson': 218,
  'jim': 217,
  'solomon': 217,
  'uriel': 217,
  'jerrell': 216,
  'elmer': 215,
  'octavio': 215,
  'tom': 215,
  'jess': 214,
  'jody': 214,
  'aric': 213,
  'barrett': 213,
  'harvey': 213,
  'otis': 213,
  'josh': 211,
  'male': 211,
  'moshe': 211,
  'royce': 211,
  'austen': 210,
  'alton': 209,
  'cooper': 208,
  'jefferson': 206,
  'bryon': 205,
  'daquan': 205,
  'greg': 204,
  'aubrey': 203,
  'benny': 203,
  'sylvester': 203,
  'ahmed': 202,
  'amos': 202,
  'tyron': 202,
  'braxton': 201,
  'erich': 201,
  'cruz': 200,
  'elvis': 200,
  'estevan': 200,
  'randal': 199,
  'rashawn': 199,
  'tobias': 199,
  'dominque': 198,
  'justen': 197,
  'kelsey': 197,
  'scotty': 197,
  'houston': 196,
  'deven': 195,
  'hassan': 195,
  'dashawn': 194,
  'derik': 194,
  'westley': 194,
  'dontae': 193,
  'hugh': 193,
  'mohamed': 192,
  'ron': 191,
  'unknown': 191,
  'duncan': 190,
  'cristopher': 189,
  'jamil': 189,
  'arsenio': 188,
  'hans': 187,
  'brandan': 186,
  'dandre': 186,
  'santos': 186,
  'cordell': 184,
  'ladarius': 184,
  'robbie': 184,
  'trever': 184,
  'ulysses': 184,
  'vaughn': 184,
  'jaquan': 183,
  'holden': 182,
  'mikel': 182,
  'ellis': 181,
  'jessy': 180,
  'wilfredo': 180,
  'ezra': 178,
  'morris': 178,
  'bernardo': 177,
  'camron': 177,
  'jonas': 177,
  'ezequiel': 176,
  'galen': 176,
  'luther': 176,
  'colt': 174,
  'efren': 174,
  'garry': 174,
  'gonzalo': 174,
  'raheem': 174,
  'brant': 173,
  'darrel': 173,
  'grady': 173,
  'niko': 171,
  'dereck': 170,
  'edgardo': 170,
  'maximilian': 170,
  'jerod': 169,
  'marty': 169,
  'pete': 169,
  'dario': 168,
  'martez': 168,
  'kirby': 167,
  'coleman': 166,
  'cullen': 166,
  'gino': 166,
  'dejuan': 165,
  'josef': 165,
  'reece': 165,
  'aldo': 164,
  'sherman': 164,
  'teddy': 164,
  'benito': 163,
  'brody': 163,
  'jacques': 162,
  'ulises': 162,
  'asa': 161,
  'codey': 161,
  'stevie': 161,
  'demarco': 160,
  'donavan': 159,
  'ervin': 159,
  'fidel': 159,
  'gregorio': 159,
  'virgil': 159,
  'willis': 159,
  'alphonso': 158,
  'brandyn': 158,
  'jerald': 158,
  'alonso': 157,
  'cary': 157,
  'isaias': 157,
  'jamarcus': 157,
  'marques': 157,
  'zechariah': 157,
  'stacy': 156,
  'kolby': 155,
  'shelton': 155,
  'darrick': 154,
  'edmund': 154,
  'keon': 154,
  'domingo': 153,
  'laquan': 153,
  'mychal': 153,
  'raymundo': 153,
  'cedrick': 152,
  'cyrus': 152,
  'jade': 152,
  'junior': 152,
  'mickey': 152,
  'alexandro': 151,
  'antony': 151,
  'carlo': 151,
  'claude': 151,
  'francesco': 151,
  'ira': 151,
  'rodrick': 151,
  'rhett': 150,
  'dangelo': 149,
  'darien': 148,
  'trevon': 148,
  'walker': 147,
  'august': 146,
  'louie': 146,
  'rudolph': 146,
  'daron': 145,
  'earnest': 145,
  'madison': 145,
  'jerad': 144,
  'khalil': 144,
  'roosevelt': 144,
  'travon': 144,
  'kiefer': 143,
  'lincoln': 143,
  'bennie': 142,
  'ken': 142,
  'carey': 141,
  'darion': 141,
  'jerel': 141,
  'quinten': 141,
  'ari': 140,
  'deron': 140,
  'greggory': 140,
  'ibrahim': 140,
  'jessica': 140,
  'jorden': 140,
  'kenton': 139,
  'laron': 139,
  'marquez': 139,
  'mykel': 139,
  'rocco': 139,
  'timmy': 139,
  'malcom': 138,
  'stacey': 138,
  'titus': 138,
  'van': 138,
  'dayton': 137,
  'kevon': 137,
  'anderson': 136,
  'jarret': 136,
  'marion': 136,
  'zakary': 136,
  'cade': 135,
  'daren': 135,
  'kendal': 135,
  'vince': 135,
  'aidan': 134,
  'broderick': 134,
  'pierce': 134,
  'tommie': 133,
  'chaim': 132,
  'michel': 132,
  'payton': 132,
  'reese': 132,
  'wallace': 132,
  'andreas': 131,
  'axel': 131,
  'brennen': 131,
  'derrell': 131,
  'valentin': 131,
  'donta': 130,
  'emerson': 130,
  'monte': 130,
  'nikko': 130,
  'jabari': 129,
  'jacoby': 129,
  'kendell': 129,
  'darwin': 128,
  'giancarlo': 128,
  'isidro': 128,
  'garett': 127,
  'jan': 126,
  'kegan': 126,
  'prince': 126,
  'rashaad': 126,
  'samson': 126,
  'abram': 125,
  'cale': 125,
  'cassidy': 125,
  'cristobal': 125,
  'dave': 125,
  'eddy': 125,
  'gregg': 125,
  'jered': 125,
  'remington': 125,
  'kai': 124,
  'talon': 124,
  'cortney': 123,
  'kelby': 123,
  'rasheed': 123,
  'abdul': 122,
  'codie': 122,
  'elvin': 122,
  'laurence': 122,
  'antione': 121,
  'britton': 121,
  'hernan': 121,
  'jeffry': 121,
  'kalvin': 121,
  'najee': 121,
  'rakeem': 121,
  'reggie': 121,
  'samir': 121,
  'alexandre': 120,
  'peyton': 120,
  'wilbert': 120,
  'alden': 119,
  'camden': 119,
  'channing': 119,
  'chauncey': 119,
  'julien': 119,
  'tremaine': 119,
  'derrek': 118,
  'elisha': 118,
  'federico': 118,
  'malachi': 118,
  'mikhail': 118,
  'shay': 118,
  'tyrel': 118,
  'cornell': 117,
  'elton': 117,
  'emmett': 117,
  'garrison': 117,
  'marlin': 117,
  'martell': 117,
  'silas': 117,
  'davin': 116,
  'dionte': 116,
  'eliseo': 116,
  'jedidiah': 116,
  'justine': 116,
  'kraig': 116,
  'marcelo': 116,
  'ronny': 116,
  'torrey': 116,
  'trace': 116,
  'coby': 115,
  'donny': 115,
  'jarrell': 115,
  'jeremey': 115,
  'jeromy': 115,
  'keven': 115,
  'tavon': 115,
  'deontae': 114,
  'edwardo': 114,
  'keenen': 114,
  'lazaro': 114,
  'torey': 114,
  'bill': 113,
  'bruno': 113,
  'genaro': 113,
  'waylon': 113,
  'brittany': 112,
  'eliezer': 112,
  'jory': 112,
  'misael': 112,
  'tate': 112,
  'deante': 111,
  'kane': 111,
  ...},
 {'jessica': 46466,
  'ashley': 45549,
  'brittany': 36535,
  'amanda': 34406,
  'samantha': 25864,
  'sarah': 25808,
  'stephanie': 24856,
  'jennifer': 22221,
  'elizabeth': 20742,
  'lauren': 20498,
  'megan': 20255,
  'emily': 19358,
  'nicole': 17950,
  'kayla': 17536,
  'amber': 15863,
  'rachel': 15703,
  'courtney': 15377,
  'danielle': 14330,
  'heather': 14217,
  'melissa': 13996,
  'rebecca': 13670,
  'michelle': 13417,
  'tiffany': 13157,
  'chelsea': 12782,
  'christina': 11925,
  'katherine': 11617,
  'alyssa': 11261,
  'jasmine': 11033,
  'laura': 10908,
  'hannah': 10275,
  'kimberly': 10192,
  'kelsey': 9494,
  'victoria': 9104,
  'sara': 8972,
  'mary': 8664,
  'erica': 8603,
  'alexandra': 8506,
  'amy': 8456,
  'crystal': 8218,
  'andrea': 8210,
  'kelly': 8135,
  'kristen': 8073,
  'erin': 7985,
  'brittney': 7428,
  'anna': 7288,
  'taylor': 7256,
  'maria': 7181,
  'allison': 7130,
  'cassandra': 7053,
  'caitlin': 7025,
  'lindsey': 6782,
  'angela': 6664,
  'alicia': 6510,
  'jamie': 6510,
  'katie': 6510,
  'vanessa': 6405,
  'kathryn': 6350,
  'morgan': 6047,
  'jordan': 5954,
  'whitney': 5903,
  'brianna': 5678,
  'christine': 5673,
  'natalie': 5632,
  'lisa': 5344,
  'kristin': 5301,
  'alexis': 5255,
  'jacqueline': 5238,
  'shannon': 5185,
  'lindsay': 5036,
  'brooke': 4988,
  'catherine': 4892,
  'olivia': 4622,
  'april': 4570,
  'erika': 4566,
  'katelyn': 4485,
  'monica': 4452,
  'kristina': 4390,
  'kaitlyn': 4312,
  'paige': 4112,
  'molly': 3964,
  'jenna': 3958,
  'leah': 3924,
  'julia': 3908,
  'bianca': 3826,
  'tara': 3821,
  'melanie': 3812,
  'marissa': 3806,
  'cynthia': 3794,
  'holly': 3771,
  'abigail': 3719,
  'meghan': 3693,
  'kathleen': 3669,
  'julie': 3655,
  'ariel': 3604,
  'alexandria': 3594,
  'veronica': 3588,
  'patricia': 3579,
  'diana': 3543,
  'gabrielle': 3541,
  'shelby': 3517,
  'kaitlin': 3472,
  'margaret': 3370,
  'brandi': 3340,
  'krystal': 3289,
  'natasha': 3267,
  'casey': 3261,
  'bethany': 3235,
  'haley': 3199,
  'briana': 3067,
  'kara': 3036,
  'rachael': 3028,
  'miranda': 2957,
  'breanna': 2952,
  'dana': 2932,
  'leslie': 2828,
  'caroline': 2817,
  'kendra': 2788,
  'sabrina': 2722,
  'angelica': 2717,
  'karen': 2713,
  'felicia': 2702,
  'jillian': 2677,
  'brenda': 2633,
  'ana': 2609,
  'desiree': 2575,
  'meagan': 2531,
  'katrina': 2479,
  'chelsey': 2447,
  'valerie': 2427,
  'emma': 2415,
  'nancy': 2384,
  'monique': 2362,
  'alison': 2361,
  'alisha': 2343,
  'sandra': 2343,
  'britney': 2293,
  'brandy': 2263,
  'joanna': 2230,
  'gina': 2208,
  'grace': 2186,
  'sierra': 2168,
  'candace': 2164,
  'jaclyn': 2155,
  'adriana': 2149,
  'krista': 2143,
  'alexa': 2131,
  'candice': 2116,
  'lacey': 2047,
  'rebekah': 2041,
  'sydney': 2026,
  'nichole': 1992,
  'denise': 1955,
  'dominique': 1945,

In [4]:
[male_names, female_names] = ParseNames(df_names)
assert len(male_names) == 9481
assert len(female_names) == 15230

## Problem 3 Get First Name

This following functions **GetFirstName** will take a name of a person (name contains first and last names separated by spaces) and return the lower case of the first name of the person.

In [5]:
def GetFirstName(name):
    
    """
    Gets the first name from a name in the column
    EmployeeName in Salaries.csv.
    INPUT: name as string
    OUTPUT: first name in all lowercase
    """
    first_name = ""
    first_name=name.split(" ")[0].lower()
    
    return first_name

In [6]:
assert GetFirstName("Dennis Zhang") == "dennis"

## Problem 4 GetGender

This function takes in the dictionary for the male and female names from **ParseNames**, and a first name. It then returns "M" if the first name appears more times in male_names than female_names, "F" if the first name appears more times in female_names than male_names (or the two fequencies are the same), and "NA" if the name does not appear in either male_names nor female_names.

In [7]:
def AddGender(first_name, male_names, female_names):
    
    """
    Find the most likely gender associated with a first name.
    
    INPUT: first_name, males_names and females_names which are the dictionaries 
    returned from ParseNames().
    
    OUTPUT:
    "M" if male_names[name] > female_names[name]
    
    "F" if male_names[name] <= female_names[name]
    
    "NaN" if the name doesn't appear in either dictionary
    """
    
    return_gender = "NA"
    
    malec=0
    femalec=0
    if first_name in male_names:
        malec = male_names[first_name]  
    if first_name in female_names:
        femalec = female_names[first_name] 
    
    if malec > femalec:
        return_gender="M"
    elif malec <= femalec and femalec>0:
        return_gender="F"
    else:
        return_gender="NaN"

    return return_gender

AddGender("charles", male_names, female_names)

'M'

In [8]:
[df_salaries, df_names] = ReadData()
assert AddGender("charles", male_names, female_names) == "M"
assert AddGender("jasmine", male_names, female_names) == "F"
assert AddGender("dennis", male_names, female_names) == "F"

## Problem 5 AddGenderToDF

This function takes the df_salary dataset and adds a new column called "gender". The function will assign gender to each row in df_salary based on the first name of the person as well as the male_names and female_names dictionaries. You should use AddGender() and GetFirstName() to implement this function. The function then returns the dataframe with the new column "gender".

In [9]:
def AddGenderToDF(df_salaries, male_names, female_names):
    """
    This function will return a new dataframe with two new columns
    on top of the existing columns in df_salaries. 
    
    The first column is called "first_name" which contains the first
    name of the person.
    
    The second column is called "gender" which contains the gender
    inforamtion of the person from the AddGender() function.
    """
    
    # YOUR CODE HERE
    df_salaries['first_name']=df_salaries.EmployeeName.apply(GetFirstName)
    gender=[]
    for i, row in df_salaries.iterrows():
        name=row['first_name']
        gender.append(AddGender(name, male_names, female_names))
    df_salaries['gender']=gender
    
    return df_salaries
AddGenderToDF(df_salaries, male_names, female_names)

,Unnamed: 0,Id,EmployeeName,JobTitle,Total_Pay,Year,first_name,gender
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,2011,nathaniel,M
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,2011,gary,M
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,2011,albert,M
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,2011,christopher,M
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,2011,patrick,M
...,...,...,...,...,...,...,...,...
27381,27381,27382,XU HE CHEN,LIBRARY ASSISTANT,35038.43,2011,xu,NaN
27382,27382,27383,RAYMOND GREEN,MANAGER VIII - MUNICIPAL TRANSPORTATION AGENCY,35038.24,2011,raymond,M
27383,27383,27384,MICHAEL WARD,SUPERVISING PURCHASER,35032.80,2011,michael,M
27384,27384,27385,ERNA FACULTAD,SPECIAL NURSE,35028.39,2011,erna,NaN
27385,27385,27386,SHERMAN DABBS,TRANSIT OPERATOR,35008.51,2011,sherman,M

In [10]:
[df_salaries, df_names] = ReadData()
df_salaries = AddGenderToDF(df_salaries, male_names, female_names)

assert df_salaries[df_salaries["EmployeeName"] == "GARY JIMENEZ"]["first_name"].tolist()[0] == "gary"
assert df_salaries[df_salaries["EmployeeName"] == "GARY JIMENEZ"]["gender"].tolist()[0] == "M"

## Problem 6 Compute the Average Salary

In this problem, you will implement a function called **ComputeAvgSalary**. This function takes in the df_salaries dataframe (this dataframe already has a new column called "gender", which indicates teh gender". The function returns two numbers: male_avg_salary and female_avg_salary. male_avg_salary (female_avg_salary) is the average salary for male (female) workers.

In [12]:
def ComputeAvgSalary(df_salaries):
    """
    This function takes the new salary dataframe with gender and
    first_name columns. It returns the the average salary of male
    and female workers. 
    """
    female_avg_salary = 0
    male_avg_salary = 0
    
    # YOUR CODE HERE
    female_avg_salary, male_avg_salary,na=df_salaries.groupby('gender')['Total_Pay'].mean()
    
    return [male_avg_salary, female_avg_salary]

In [13]:
df_salaries = AddGenderToDF(df_salaries, male_names, female_names)
[male_avg_salary, female_avg_salary] = ComputeAvgSalary(df_salaries)
assert round(male_avg_salary, 2) == 97798.31
assert round(female_avg_salary, 2) == 83261.56